<div class="container">
  <div class="header py-4 mb-4 d-flex justify-content-space-between navbar navbar-light">
    <div class="header-left d-flex align-items-center">
      <h4 class="me-4 mt-1">
        <span class="text-warning">A</span>rt
        <span class="text-warning">W</span>orld
      </h4>
      <button routerLink="/" routerLinkActive="router-link-active" class="btn">
        Home
      </button>
      <span class="border-end py-2 border-light d-block mx-2"></span>
      <button
        routerLink="/artists"
        routerLinkActive="router-link-active"
        class="btn"
      >
        Artists
      </button>
    </div>
    <div class="header-right btn-group">
      <button routerLink="/login" class="btn btn-danger rounded">Login</button>
      <button routerLink="/register" class="btn btn-outline-danger">
        Register
      </button>
    </div>
  </div>
</div>
