select {
  width: 60px;
  height: 36px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  border: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.add-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas {
  width: 450px;
}
